@-webkit-keyframes slideOutLeft {
    to { -webkit-transform: translateX(-100%); }
}

@-webkit-keyframes slideInRight {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

.ng-enter { -webkit-animation: slideInRight 0.25s 0 ease-in; z-index: 8888; }
.ng-leave { -webkit-animation: slideOutLeft 0.25s 0 ease-out; z-index: 9999; }

.btn.pull-left {
    margin-right: 5px;
}

.vertical-sub {
    vertical-align: sub;
}

.pointer {
    cursor: pointer;
}
