
<div class="row">
    <h3 class="pointer" ng-click="showAddUser = !showAddUser">
        Add user <span class="btn glyphicon" ng-class="{ 'glyphicon-chevron-down' : !showAddUser, 'glyphicon-chevron-up' : showAddUser }"></span>
    </h3>
    <form class="form-horizontal" name="addUserForm" collapse="!showAddUser" ng-submit="addUser()">
        <div class="form-group">
            <label class="col-xs-2 control-label"> Username </label>
            <div class="col-xs-10">
                <input type="text" class="form-control" placeholder="username" ng-model="addUserFormData.username" required>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': passwordConfirmError }">
            <label class="col-xs-2 control-label"> Password </label>
            <div class="col-xs-4">
                <input type="password" class="form-control" placeholder="******" ng-model="addUserFormData.password" required>
            </div>
            <label class="col-xs-2 control-label"> Password confirmation </label>
            <div class="col-xs-4">
                <input type="password" class="form-control" placeholder="******" ng-model="addUserFormData.passwordConfirm" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label"> First name </label>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="first name" ng-model="addUserFormData.firstname" required>
            </div>
            <label class="col-xs-2 control-label"> Last name </label>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="last name" ng-model="addUserFormData.lastname" required>
            </div>
        </div>
        <button class="col-xs-offset-2 col-xs-4 btn btn-sm btn-primary" type="submit">
            <span class="glyphicon glyphicon-flash"></span> Add user
        </button>
    </form>
</div>

<div class="row">
    <h3> Users list </h3>
    <pagination total-items="totalNbUsers" num-pages="nbUsersPages" ng-model="currentUsersPage" items-per-page="nbUsersPerPage" class="pagination-sm" ng-change="userPageChanged()"></pagination>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
            <div class="clearfix">
                <span class="vertical-sub"> {{ user.username }} </span>
                <button class="pull-left btn btn-sm btn-info" ng-click="showUserDetail = !showUserDetail">
                    Details
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-down' : !showUserDetail, 'glyphicon-chevron-up' : showUserDetail }"></span>
                </button>
                <button class="pull-right btn btn-sm btn-danger" ng-click="removeUser(user)"> Remove </button>
            </div>
            <div collapse="!showUserDetail">
                <div class="row">
                    <strong class="col-xs-2 text-right"> First name </strong>
                    <div class="col-xs-3" ng-mouseenter="showFirstnameEdit = true" ng-mouseleave="showFirstnameEdit = false">
                        <span editable-text="user.firstname" e-form="firstnameEdit" onbeforesave="updateUser(user, 'firstname', $data)">
                            {{ user.firstname }}
                            <span class="glyphicon glyphicon-pencil pointer" ng-click="firstnameEdit.$show()" ng-show="showFirstnameEdit"></span>
                        </span>
                    </div>
                    <strong class="col-xs-2 text-right"> Last name </strong>
                    <div class="col-xs-3" ng-mouseenter="showLastnameEdit = true" ng-mouseleave="showLastnameEdit = false">
                        <span editable-text="user.lastname" e-form="lastnameEdit" onbeforesave="updateUser(user, 'lastname', $data)">
                            {{ user.lastname }}
                            <span class="glyphicon glyphicon-pencil pointer" ng-click="lastnameEdit.$show()" ng-show="showLastnameEdit"></span>
                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <strong class="col-xs-2 text-right"> Roles </strong>
                    <ul class="col-xs-2">
                        <li ng-repeat="role in user.roles">
                            <span class=""> {{ role }} </span>
                            <button class="btn btn-xs btn-link" ng-click="removeUserRole(user,role)"> Remove </button>
                        </li>
                    </ul>
                    <div class="col-xs-4">
                        <div class="col-xs-6">
                            <select class="form-control" ng-options="role_label for (role,role_label) in USER_ROLES" ng-model="selectedRole">
                                <option value=""> -- select role -- </option>
                            </select>
                        </div>
                        <button class="btn btn-sm btn-primary" ng-click="addUserRole(user,selectedRole)"> Add role </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
